@using DVG.WIS.PublicModel;
@model List<ProductFEListModel>
@{ 
    int i = 0;
}

<div class="product-content-item" data-id="newest" style="display:none;" id="productNewestSlide">
    <div class="product-content-box swiper-container">
        <div class="product-content-scroll swiper-wrapper">
            @foreach (var item in Model)
            {
                i++;
                <div class="product-item swiper-slide">
                    <div class="images">
                        <a href="@item.Link" title="@item.Name">
                            <img src="@item.GetAvatar("crop/270x270/")" alt="@item.Name" />
                        </a>
                    </div>
                    <div class="info">
                        <h3 class="heading">
                            <a href="@item.Link" title="@item.Name">@item.Name</a>
                        </h3>
                        @if (item.PricePromotion > 0)
                        {
                            <span class="price">@item.PricePromotionString</span>
                            <span class="old-price">@item.PriceString</span>
                        }
                        else
                        {
                            <span class="price">@item.PriceString</span>
                        }
                    </div>
                </div>
            }
        </div>
        <span class="next-slide navigation">
            <i class="icon-right-open-big"></i>
        </span>
        <span class="previous-slide navigation">
            <i class="icon-left-open-big"></i>
        </span>
    </div>
</div>
