<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/Content/images/logonthome.jpg" sizes="32x32">
    <title>@Html.Raw(ViewBag.TitlePage)</title>
    @if (string.IsNullOrEmpty(ViewBag.NoIndex))
    {
<meta name="robots" content="index,follow" /> }
            else
            {
@Html.Raw(ViewBag.NoIndex)}
    @Html.Raw(ViewBag.MetaDescription)
    @Html.Raw(ViewBag.MetaFacebook)
    @Html.Raw(ViewBag.MetaCanonical)

    @*@Styles.Render("~/stylesCommon")
    @Styles.Render("~/styleForWap")*@

    @*<link rel="stylesheet" href="~/Content/font-awesome/font-awesome.min.html" />
            <link rel="stylesheet" href="~/Content/css/dashicons.min.css" type="text/css" media="all" />
        <link rel="stylesheet" href="~/Content/css/elusive.min.css" type="text/css" media="all" />
        <link rel="stylesheet" href="~/Content/css/foundation-icons.min.css" type="text/css" media="all" />
        <link rel="stylesheet" href="~/Content/css/genericons.min.css" type="text/css" media="all" />
        <link rel="stylesheet" href="~/Content/css/extra.min.css" type="text/css" media="all" />
        <link rel="stylesheet" href="~/Content/css/style.min.css" type="text/css" media="all" />
        <link rel="stylesheet" href="~/Content/css/vendors-style.css" type="text/css" media="all" />
        <link rel="stylesheet" href="~/Content/css/style.css" type="text/css" media="all" />
        <link rel="stylesheet" href="~/Content/css/styles.css" type="text/css" media="all" />
        <link rel="stylesheet" href="~/Content/css/menu-image.css" type="text/css" media="all" />
        <link rel="stylesheet" href="~/Content/css/style.css" type="text/css" media="all" />
        <link rel="stylesheet" href="~/Content/css/frontend.css" type="text/css" media="all" />
        <link rel="stylesheet" hrr="~/Content/css/bootstrap.min32c3.css" type="text/css" media="all" />
        <link rel="stylesheet" href="~/Content/css/tinvn-main-css.css" type="text/css" media="all" />
        <link rel="stylesheet" href="~/Content/css/front.css" type="text/css" media="all" />
        <link rel="stylesheet" href="~/Content/css/jquery.mCustomScrollbar.css" type="text/css" media="all" />
        <link rel="stylesheet" href="~/Content/css/yellow.css" type="text/css" media="all" />
        <link rel="stylesheet" href="~/Content/css/by_text.css" type="text/css" media="all" />
        <link rel="stylesheet" href="~/Content/css/color.css" type="text/css" media="all" />
        <link rel="stylesheet" href="~/Content/css/image.css" type="text/css" media="all" />
        <link rel="stylesheet" href="~/Content/css/label.css" type="text/css" media="all" />
        <link rel="stylesheet" href="~/Content/css/front.css" type="text/css" media="all" />
        <link rel="stylesheet" href="~/Content/css/animate.css" type="text/css" media="all" />
        <link rel="stylesheet" href="~/Content/css/fl-icons.css" type="text/css" media="all" />
        <link rel="stylesheet" href="~/Content/css/frontend.min.css" type="text/css" media="all" />
        <link rel="stylesheet" href="~/Content/css/common.css" type="text/css" media="all" />
        <link rel="stylesheet" href="~/Content/css/wvs-theme-override.min.css" type="text/css" media="all" />
        <link rel="stylesheet" href="~/Content/css/frontend-tooltip.min.css" type="text/css" media="all" />
        <link rel="stylesheet" href="~/Content/css/local-ryviu.css" type="text/css" media="all" />
        <link rel="stylesheet" href="~/Content/css/flatsome5.css" type="text/css" media="all" />
        <link rel="stylesheet" href="~/Content/css/flatsome4-shop.html" type="text/css" media="all" />
        <link rel="stylesheet" href="~/Content/css/style.css" type="text/css" media="all" />
        <link rel="stylesheet" href="~/Content/css/flatlineui-furniture.css" type="text/css" media="all" />
        <link rel="stylesheet" href="~/Content/font/css/all.min.css" />
        <link rel="stylesheet" href="~/Content/css/change.css" />
        <link rel="stylesheet" href="~/Content/css/formwap.css" />
        <link rel="stylesheet" href="~/Content/css/fix.css" />
        <link rel="stylesheet" href="~/Content/css/fontello.css"/>
        <link rel="stylesheet" href="~/Content/css/wap.css"/>*@

    <link rel="stylesheet" href="~/Content/css/styles.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/css/menu-image.css" type="text/css" media="all" />
    @*<link rel="stylesheet" href="~/Content/css/frontend.css" type="text/css" media="all" />*@
    <link rel="stylesheet" href="~/Content/css/color.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/css/animate.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/css/common.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/css/flatsome5.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/font/css/all.min.css" />
    <link rel="stylesheet" href="~/Content/css/change.css" />
    <link rel="stylesheet" href="~/Content/css/formwap.css" />
    <link rel="stylesheet" href="~/Content/css/fix.css" />
    <link rel="stylesheet" href="~/Content/css/fontello.css" />
    <link rel="stylesheet" href="~/Content/css/wap.css" />
    <link rel="stylesheet" href="~/Content/css/swiper-bundle.min.css" />
    <script src="~/Content/js/swiper-bundle.min.js"></script>
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="wrapper" id="wrapper">
        @Html.Partial("~/Views/Partial/_Header.cshtml")
        <div id="main">
            @RenderBody()
        </div>
        @Html.Partial("~/Views/Partial/_Footer.cshtml")

        @*<a href="#" class="go-top" style="display: block">
                <i class="icon-up"></i>
            </a>*@
    </div>
    @*@Html.Action("ProductMenu", "Home")*@
    <div id="loading"></div>
    <div id="popup">
    </div>
    <ul class="uchat">
        <li class="h8"><a href="https://m.me/100042405595771" target="_blank"></a></li>
        <li class="c8"><a href="https://zalo.me/0975254324" target="_blank"> <img src="~/Content/images/zl.png"></a></li>

    </ul>
    <div class="fix_tel" style="z-index:999999999999999">
        <div class="ring-alo-phone ring-alo-green ring-alo-show" id="ring-alo-phoneIcon" style="left: -30px; bottom: -32px;">
            <div class="ring-alo-ph-circle"></div>
            <div class="ring-alo-ph-circle-fill"></div>
            <div class="ring-alo-ph-img-circle">
                <a href="tel:0975254324">
                    <img class="lazy"
                         src="~/Content/images/goi.png" alt="G">
                </a>
            </div>
        </div>
        <div class="tel" style="bottom: -20px; left: -15px;">
            <a href="tel:0343141199">
                <p class="fone" style="text-align: center;">
                    0975254324
                </p>
            </a>
        </div>
    </div>
    @Scripts.Render("~/scriptsCommon")
    @*<script type='text/javascript' src='~/Content/js/jquery-migrate.min.js' id='jquery-migrate-js'></script>*@
    <script type='text/javascript' src='~/Content/js/front.js' id='wpim-js'></script>
    <script type='text/javascript' src='~/Content/js/superfish.min.js' id='ot-superfish-js'></script>

    <script type='text/javascript' id='flatsome-js-js-extra'>
        /* <![CDATA[ */
        var flatsomeVars = { "ajaxurl": "\/\/\/wp-admin\/admin-ajax.php", "rtl": "", "sticky_height": "70", "lightbox": { "close_markup": "<button title=\"%title%\" type=\"button\" class=\"mfp-close\"><svg xmlns=\"http:\/\/www.w3.org\/2000\/svg\" width=\"28\" height=\"28\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\" class=\"feather feather-x\"><line x1=\"18\" y1=\"6\" x2=\"6\" y2=\"18\"><\/line><line x1=\"6\" y1=\"6\" x2=\"18\" y2=\"18\"><\/line><\/svg><\/button>", "close_btn_inside": false }, "user": { "can_edit_pages": false } };
/* ]]> */</script>
    <script type='text/javascript' src='~/Content/js/flatsomea.js' id='flatsome-js-js'></script>
    @RenderSection("scripts", required: false)

</body>
</html>