<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/Content/images/logonthome.jpg" sizes="32x32">
    <title>@Html.Raw(ViewBag.TitlePage)</title>
    @if (string.IsNullOrEmpty(ViewBag.NoIndex))
    {
<meta name="robots" content="index,follow" />
 }
else
{
@Html.Raw(ViewBag.NoIndex)}
    @Html.Raw(ViewBag.MetaDescription)
    @Html.Raw(ViewBag.MetaFacebook)
    @Html.Raw(ViewBag.MetaCanonical)
    @Styles.Render("~/stylesCommon")
    @Styles.Render("~/styleForWeb")
    @*<link rel="stylesheet" href="~/Content/css/styles.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/css/menu-image.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/css/frontend.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/css/color.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/css/animate.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/css/common.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/css/flatsome5.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/font/css/all.min.css" />
    <link rel="stylesheet" href="~/Content/css/change.css" />
    <link rel="stylesheet" href="~/Content/css/formweb.css" />
    <link rel="stylesheet" href="~/Content/css/fix.css"/>
    <link rel="stylesheet" href="~/Content/css/fontello.css"/>
    <link rel="stylesheet" href="~/Content/css/swiper-bundle.min.css"/>*@
    @*<script type='text/javascript' src='~/Content/js/front.js' id='wpim-js' defer></script>*@
    <script src="~/Content/js/swiper-bundle.min.js"></script>
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="wrapper" id="wrapper">
        @Html.Partial("~/Views/Partial/_Header.cshtml")
        <div id="main">
            @RenderBody()
        </div>
        @Html.Partial("~/Views/Partial/_Footer.cshtml")

        @*<a href="#" class="go-top" style="display: block">
                <i class="icon-up"></i>
            </a>*@
    </div>
    <div id="loading"></div>
    <div id="popup">
    </div>


    <ul class="uchat">
        <li class="h8"><a href="https://m.me/100042405595771" target="_blank"></a></li>
        <li class="c8"><a href="https://zalo.me/0975254324" target="_blank"> <img src="~/Content/images/zl.png"></a></li>
    </ul>
    <div class="fix_tel" style="z-index:999999999999999">
        <div class="ring-alo-phone ring-alo-green ring-alo-show" id="ring-alo-phoneIcon" style="left: -30px; bottom: -32px;">
            <div class="ring-alo-ph-circle"></div>
            <div class="ring-alo-ph-circle-fill"></div>
            <div class="ring-alo-ph-img-circle">
                <a href="tel:0975254324">
                    <img class="lazy"
                         src="~/Content/images/goi.png" alt="G">
                </a>
            </div>
        </div>
        <div class="tel" style="bottom: -20px; left: -15px;">
            <a href="tel:0975254324">
                <p class="fone" style="text-align: center;">
                    0975254324
                </p>
            </a>
        </div>
    </div>
    @Scripts.Render("~/scriptsCommon")

    @RenderSection("scripts", required: false)

</body>
</html>