@using DVG.WIS.PublicModel;
@using DVG.WIS.Core;
@model List<MenuTop>
<div id="main-menu" class="mobile-sidebar no-scrollbar mfp-hide ">
    <div class="sidebar-menu no-scrollbar ">
        <ul class="nav nav-sidebar nav-vertical nav-uppercase">
            <li class="header-search-form search-form html relative has-icon">
                <div class="header-search-form-wrapper" />
            </li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home">
                <a href="/" aria-current="page">Trang chủ</a>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                <a href="/gioi-thieu">Giới thiệu</a>
            </li>
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model.Where(x => x.HasSubMenu))
                {
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children has-child"
                        aria-expanded="false">
                        <a href="@item.Parent.Url">
                            @item.Parent.Name
                        </a><button class="toggle">
                            <i class="fa fa-angle-down"></i>
                        </button>
                            <ul class="sub-menu nav-sidebar-ul children" style="margin-left:13px;">
                                @foreach (var sub in item.SubMenu)
                                {
                                    <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat">
                                        <a href="@sub.Parent.Url">@sub.Parent.Name</a>
                                    </li>
                                }
                            </ul>
                    </li>
                }
            }


            @foreach (var item in Model.Where(x => !x.HasSubMenu))
            {
        <li class="menu-item menu-item-type-post_type menu-item-object-page">
            <a href="@item.Parent.Name">@item.Parent.Name</a>
        </li>
        }

            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                <a href="/lien-he">Liên Hệ</a>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                <a href="/video">Video</a>
            </li>
        </ul>
    </div>
</div>